<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-lg-12">
				<h2 class="footer-heading">{{ site.title | escape }}</h2>
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-lg-6">
				<div class="contact-us-wrapper">
					<div class="heading">Contact Us</div>
					{%- include social.html -%}
				</div>
			</div>

			<div class="col-md-6 col-lg-6">
				<div class="heading"> BOX8 Engineering Blog Categories </div>
				<div class="link-items">Link1</div>
				<div class="link-items">Link1</div>
				<div class="link-items">Link1</div>
				<div class="link-items">Link1</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-lg-12">
				<hr />

				<div class="row mb-14">
					<div class="col-md-6 col-lg-6">
						<p class="copyright">© 2020 BOX8 Technologies Inc.</p>
					</div>

					<div class="col-md-3 col-lg-3">
						<p class="copyright">© 2020 BOX8 Technologies Inc.</p>
					</div>

					<div class="col-md-3 col-lg-3">
						<p class="copyright">© 2020 BOX8 Technologies Inc.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script src="{{ site.baseurl }}/bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
