---
layout: default
---

<body class="home">
	<div class="container">		
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
				{{ content }}
		
				{%- if site.posts.size > 0 -%}
					{%- for post in site.posts -%}
					<div class="row blog-row">
						<div class="col-md-3 col-lg-3 image-wrapper">
							<img src="{{post.imageUrl}}" alt="">
						</div>
						<div class="col-md-9 col-lg-9">
							<h3>
								<a class="post-link" href="{{ post.url | relative_url }}"> {{ post.title | escape }}</a>
							</h3>
							{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
							<span class="post-meta">{{ post.date | date: date_format }}</span>
							{% assign author = site.authors | where: 'name', post.author | first %}
							{% if author %}
							  - <a href='{{author.url}}'>{{ author.name }}</a>
							{% endif %}

							<p class="excerpt">{{ post.description }}</p>
						</div>
					</div>
					{%- endfor -%}
					<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
				{%- endif -%}
			</div>

			<div class="hidden-xs hidden-sm col-md-3 col-lg-3">
				<!-- Popular Post here -->
			</div>
		</div>
	</div>
</body>